html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: left;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #da6900;
    padding: 10px;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

button{
    background-color: #da6900;
    color: white;
    border:1px;    
    font-weight: bold;
    padding: 5px;
}

.header-title {
    font-size: 30px;
}

body {
    margin: 0px;
    background-color: #555555;
}
.content {
    padding: 50px;
}
.card-grid {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
    background-color: rgb(150, 150, 150);
    margin: 5px;
    padding: 10px;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
}
.reading {
    font-size: 1.2rem;
    color: #1282A2;
}